{% extends "body.html" %}

{% block content %}

<!-- Content -->
<div class="container theme-showcase" role="main">
  <div class="jumbotron">
    <h1>{{ group.name }}</h1>
    <p>{{ group.description |safe }}</p>
    {% if userIsMember or user.is_staff %}
    <a href="/group/edit?name={{ group.name }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
    {% if userIsMember %}
    <a href="/group/unjoin?name={{ group.name }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span>leave Group</a>
    <br>
    <form style="display:inline;" action="/group/addmember?name={{ group.name }}" method="post">
      {% csrf_token %}
      <input id="email" type="text" name="email" placeholder="test123@whatever.com">
      <input type="submit" value="Add Member" class="btn btn-default btn-sm">
    </form>
    {% endif %}

    <a href="/group/delete?name={{ group.name }}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span>Delete</a>
    {% elif is_student == True %}
    <a href="/group/join?name={{ group.name }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus-sign"></span>JoinGroup</a>
    {% endif %}
  </div>
</div>

<div class="container">
  <div class="table-responsive">
    <table class="table table-striped sortable">
      <thead>
        <tr>
          <th>Students</th>
        </tr>
      </thead>
      <tbody>
        {% for item in group.members.all %}
        <tr>
          <td>{{ item.get_full_name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
<p>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;     <strong>Recommended projects</strong></p>
<div class="container">
  <div class="table-responsive">
    <table class="table table-striped sortable">
      <thead>
        <tr>
          <th>Projects</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
        <tr>
          <td>{{ project.name }}</td>
          <td>{{ project.description | safe }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
{% if userIsMember %}
<div class="container" role="main">

</div>
{% endif %}





</div>

<div class="container" role="main">

  <div class="table-responsive">
    <table class="table table-striped sortable">
      <thead>
        <tr>
          <th style="width: 12.5%">Time</th>
          <th style="width: 12.5%">User</th>
          <th style="width: 70%">Comment</th>
          <th style="width: 5%"></th>
        </tr>
      </thead>
      <tbody>
        {% for item in comments %}
        <tr>
          <td>{{ item.time }}</td>
          <td>{{ item.createdBy.get_full_name }}</td>
          <td>{{ item.comment }}</td>
          {% if item.createdBy == currentUser or isAdmin %}
          <td><a href="/group/deleteComment?id={{ item.id }}&group={{ group.name }}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
          <div class="panel panel-default">
        <form method="post" enctype="multipart/form-data" class="panel-body validate">
        {% csrf_token %}
             <input type="text" name="comment" id="comment" placeholder="Comment" class="form-control" data-bvalidator="required" data-bvalidator-msg="Comment Required">
             <br>
             <input type="submit" value="Submit" class="btn btn-primary">
             <input type="hidden" name="group" value="{{group.name}}" />
        </form>
    </div>
  </div>
</div>


{% endblock %}