{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container" role="main">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr class="success">
						<th>Group name</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					{% for item in groups %}
					<tr class="success">
						<td><a href="/group?name={{ item.name }}">{{ item.name }}</a></td>
						<td>{{ item.description }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}